rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /list/{listId} {
      allow read: if resource.data.ownerUID == request.auth.uid;
      allow update: if resource.data.ownerUID == request.auth.uid;
      allow create: if request.resource.data.ownerUID == request.auth.uid;
    }
    match /wish/{wishId} {
      allow read: if resource.data.ownerUID == request.auth.uid;
      allow update: if resource.data.ownerUID == request.auth.uid;
      allow create: if request.resource.data.ownerUID == request.auth.uid;
    }
    match /share/{shareId} {
      allow read: if resource.data.sharedByUID == request.auth.uid;
      allow update: if request.resource.data.sharedByUID == resource.data.sharedByUID && request.resource.data.list == resource.data.list && request.resource.data.invitedEmail == resource.data.invitedEmail;
      allow create: if request.resource.data.sharedByUID == request.auth.uid;
    }
  }
}